@font-face {
    font-family: gist;
    src: url(../normal/ToetheLineless.ttf);
}
html {
    background-color: black;
    overflow: hidden;
}

canvas {
    touch-action: manipulation;
    position: relative;
    overflow: hidden;
}

#instructions {
    position: fixed;
    font-size: 4rem;
    font-family: gist;
    color: #084B83;
    text-align: center;
    top: 0;
    left: 0;
    border: transparent;
    position: fixed;
    width: 100%;
    height:100%;
    padding: 10% 0;
    border-color: black;
    background-color: black;
}

#restart{
    position: fixed;
    width: 20%;
    color: white;
    top:3%;
    left:40%;
    display: none;
}


button{
    width: 20%;
    height:8%;
    margin-top: 8%;
    border-radius: 5%;
    font-size: 20px;
    font-weight: 600;
    background-color: #0D324D;
    color: white;
    border-width: 0px;
    border:transparent;
}

button:hover{
    box-shadow: 0 0 5px #0D324D, 0 0 10px #0D324D, 0 0 20px #0D324D ;
}

ul{
    text-align:left;
    font-family: 'arial';
    font-size: 24px;
    font-weight: 400;
    margin-left: 24%;
    margin-top: 4%;
    color: white;
    text-shadow: none
}
#title{
    margin-top: 0;
 }

@media (min-width: 300px) and (max-width: 600px){
    #instructions {
    font-size: 5rem;
    font-family: gist;
    color: #084B83;
    text-align: center;
    top: 0;
    left: 0;
    border: transparent;
    width: 100%;
    height:100%;
    padding: 10% 0;
    border-color: black;
    background-color: black;
 }

button{
    width: 30%;
    height: 6%;
    margin-top: 30%;
    border-radius: 5%;
    font-size: 30px;
    font-weight: 600;
    background-color: #0D324D;
    color: white;
    border-width: 0px;
    border: transparent;
 }

button:hover{
    box-shadow: 0 0 5px #0D324D, 0 0 10px #0D324D, 0 0 20px #0D324D ;
 }

ul{
    line-height: 110%;
    text-align: left;
    font-family: 'arial';
    font-size: 50px;
    font-weight: 400;
    margin-left: 5%;
    margin-top: 25%;
    width: 90%;
    color: white; 
 }

}